.green{
    background-color: rgb(108, 216, 0);
    color: black;
}

.procSpace {
    margin-inline: 10%; 
    margin-block: 3vh;

    display: flex; 
    flex-direction: column;
    gap: 20px;


}

.procSpace > button {
    width: 150px;
}



.chosenPomp{
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 10px;
  

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
}

.chosenPomp > select {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    font-size: large;
}

.chosenPomp > button {
    width: 10%;
}



.downloadButtonContainer {
    margin-top: 20px;
    text-align: end;
}

.downloadButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.downloadButton:hover {
    background-color: #45a049;
}

.downloadButton:active {
    transform: scale(0.98);
}

.storyInfo {
    margin: 20px 0;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
   
    font-size: larger;
}

