header {
    border-bottom: 1px solid;
    
    display: flex;
    flex-direction: row;
    padding-inline: 40px;
    align-items: center;
    justify-content: space-between;
}

header > nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

img{
    height: 60px;
}